nav{
    background-color: black;
    width: 100%;
    padding: 30px 40px 30px 40px;
    color: white;
}

.title {
    color: white;
    font-size: 25px;
}

#app {
    padding: 30px 40px 30px 40px;
}

#search-box {
    width: 400px;
    border-radius: 10px;
    display: block;
    border: 2px solid lightgray;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin: auto;
}

.movies-container{
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.movie{
  margin: auto;
  width: 300px;
  margin-bottom: 30px;
}

.movie > img{
    width: 100%;
    max-height: 170px;
}